@font-face {
  font-family: 'Cooper Black';
  src: url('/fonts/CooperBlkBT-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cooper Light';
  src: url('/fonts/CooperLtBT-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cooper Light';
  src: url('/fonts/CooperLtBT-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Cooper Medium';
  src: url('/fonts/CooperMdBT-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hanley Script';
  src: url('/fonts/HanleyPro-Script.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TAY Bone Quixote';
  src: url('/fonts/TAYBoneQuixote.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Cooper Light', system-ui, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'Cooper Black', serif;
}